body {
    background-color: #f7f6f6;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar { 
    display: none;
}

#logo {
    width: 150px;
}

.navbar {
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 242, 94);
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 0 30px;
    padding: 10px;
}

h2 {
    margin-left: 20px;
}

.card {
    box-shadow: 5px 6px 6px 2px #e9ecef;
}


/* INDEX.HTML */
.details_btn {
    float: right;
    position:absolute;
    bottom: 10px; 
    right: 15px;
    margin: 10px 5px;
}

.index-card {
    border-radius: 15px; 
    height: 550px;
    margin-bottom: 15px;
}
.index-img {
    height: 300px; 
    object-fit: cover; 
    border-radius: 15px;
}

/* ITEM.HTML */
.status {
    margin-left: 5px;
    font-size: small;
}
.card-title {
    padding-top: 10px;
}
.item-card {
    border-radius: 15px;
    margin: 15px;
    height: 500px;
    /* width: 100%; */
    min-width: 180px;
}
.container {
    position: relative;
}
.item-img {
    display: block;
    object-fit: cover; 
    height: 500px;
    width: 750px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 6px 6px 2px #d0d3d5;
}
.overlay {
    position: absolute;
    margin-left: 30px;
    bottom: 30px;
}

.text-muted {
    display: inline-flex;
}

/* COMMENT */
.comment-section {
    padding: 10px 15px;
}
.comment {
    margin: 10px 10px;
    padding: 15px;
    width: auto;
}
.comment-input {
    margin: 15px 15px 0 15px;
    width: auto;
}

/* CATEGORIES */
#category {
    margin-left: 20px;
}

#header {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    .item-card {
        border-radius: 15px;
        margin: 15px;
        height:max-content;
    }
    .item-img {
        object-fit: cover; 
        height: auto;
        max-width: 90%;
        border-radius: 15px;
        margin: 15px;
    }
    .comment {
        margin: 15px;
        padding: 15px;
        width: fit-content;
    }
    .button_div {
        display: flex;
        justify-content: flex-end;
    }
}
