{% extends "auctions/layout.html" %}

{% block act_list %}
    {% if title == "Active Listings" %}
        active
    {% endif %}
{% endblock %}

{% block watchlist %}
    {% if title == "Watchlists" %}
        active
    {% endif %}
{% endblock %}

{% block body %}
    <h2>
        {% if title == "Active Listings" %}
            Active Listings
        {% elif title == "Watchlists" %}
            Watchlists
        {% endif %}
    </h2>

    <div class="row">

        {% if items|length > 0 %}

            <!-- <div class="card-deck"> -->
            {% for item in items %}
                <div class="col-sm-4">
                    <div class="card index-card" style="margin-bottom: 30px;">

                        <img class="card-img-top index-img" src="{{ item.image }}" {% if item.status == 'Closed' %}style="filter: grayscale(100%);"{% endif %}>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}
                                {% if item.status == "Closed" %}
                                    <small class="text-danger status">{{ item.status }}</small>
                                {% endif %}
                            </h5>
                            <strong>$ {{ item.price }}</strong>
                            <p class="card-text">{{ item.description }}</p>
                            <small class="text-muted">Created : {{ item.creation_date }}</small><br>
                            <a href="{% url 'details' item_id=item.id errorShow='hidden' %}" class="btn btn-primary details_btn">See Details</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
            <!-- </div> -->

        {% else %}
            <h5>No Active Listings.</h4>
        {% endif %}

    </div>
{% endblock %}