{% extends "auctions/layout.html" %}

{% block act_list %}active{% endblock %}

{% block body %}

    <script>
        window.onload = ()=>{
            const watchBtn = document.getElementById("watchBtn");

            if ("{{ in_watchlist }}" == "True") {
                watchBtn.classList.add("active");
                watchBtn.innerHTML = "Added to watchlist";
            } else {
                watchBtn.classList.remove("active");
                watchBtn.innerHTML = "Add to watchlist";
            }
        }
    </script>

    <h2>{{ item.title }}</h2>

    <div class="row">

        <!-- ! IMAGE -->
        <div class="container col-sm-8">
            <img class="item-img img-fluid" src="{{ item.image }}">

            {% if item.status == "Active" and item.uploader != request.user and request.user.is_authenticated %}
                <div class="overlay">
                    <a href="{% url 'watch' item.id %}" id="watchBtn" class="btn btn-info btn-sm">Add to Watchlist</a>
                </div>
            {% endif %}

        </div>

        <!-- ! CARD -->
        <div class="col-sm-4">
            <div class="card border-{{ color }} item-card">
                
                <!-- CARD HEAD -->
                <div class="card-header border-{{ color }}">
                    <h5 class="card-title">{{ item.title }}
                        <small class="text-{{ color }} status">{{ item.status }}</small>
                    </h5>
                </div>

                <!-- CARD BODY -->
                <div class="card-body">

                    <strong>$ {{ item.price }}</strong>
                    <p class="card-text">{{ item.description }}</p>

                    <small class="text-muted">Created : {{ item.creation_date }}</small><br>
                    <small class="text-muted">Upload by : {{ item.uploader }}</small><br>
                    <small class="text-muted">Category : 
                        <span><a class="text-primary" href="{% url 'categories' item.category.name %}">
                            {{ item.category.name }}
                        </a></span>
                    </small><br>

                    <hr>

                    <!-- BID & CLOSE BUTTON -->
                    {% if item.status == "Active" %}

                        {% if request.user == item.uploader %}
                            <a href="{% url 'close' item.id %}" class="btn btn-danger" type="button">Close Auction</a>

                        {% elif request.user.is_authenticated %}

                            <h5>Place Your Bid</h5>
                            <form action="{% url 'bid' item.id %}" class="row" method="post">
                                <div class="bid-form col-sm-8">
                                    {% csrf_token %}
                                    {{ bid_form.as_p }}
                                </div>

                                <div class="col-sm-4 button_div">
                                    <input class="btn btn-warning" type="submit" value="Bid">
                                </div>
                            </form>

                            {% if error == "show" %}
                                <div class="alert alert-danger" role="alert">
                                    Price must be greater!
                                </div>
                            {% endif %}

                        {% endif %}

                    {% else %}
                        <h5>Winner : {{ item.winner }}</h5>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    <!-- ! COMMENT -->
    <hr>
    <h2 style="margin-bottom: 20px;">Comments</h2>
    
    <div class="card comment-section">
        {% for com in comments %}
            <div class="container-fluid card comment">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="font-weight-bold text-primary">{{ com.commenter }}</h5>
                    <small>{{ com.comment_date }}</small>
                </div>
                <p class="font-weight-bold">{{ com.content }}</p>
            </div>
        {% endfor %}

        <form action="{% url 'comment' item.id %}" class="row comment-input" method="post">
            <div class="col-sm-11">
                {% csrf_token %}
                {{ comment_form.as_p }}
            </div>

            <div class="col-sm-1 button_div">
                <input class="btn btn-primary" type="submit" value="Send">
            </div>
        </form>

    </div>
{% endblock %}